*{
    margin: 0;
    padding: 0;
   
}

:root{
    --dark:#141c2d;
    --color1:#fb98cf;
    --color2:#e04c8f;
    --pink:#fa127a;
    --color3:#a5a5a5;
    --color-white: #fff;
    --mainColor:linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 131, 199, 1) 50%, rgba(235, 30, 121, 1) 100%);
    --headColor:linear-gradient(310deg,rgb(97, 89, 89) 0%, rgb(250, 108, 186) 50%, rgba(235, 30, 121, 1) 100%);
    --grediant:linear-gradient(180deg,rgba(186, 198, 224, 0.9) 60%, rgb(242, 149, 189));
}

.bg-dark{
    background: var(--dark) !important;
}

.card-bg{
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 40%, rgba(255, 131, 199, 1) 50%, rgb(165, 47, 101) 100%);
    background-size: 400% 400%;
    animation: card-swing 8s ease-in-out infinite;
    border-radius: 12px; 
}

@keyframes card-swing{
    0%{
       background-position: 0% 50%;
    }
    50%{
         background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
   
}

.card-border{
    border: 2px solid var(--color2);
}


.text-primary{
    color: var(--color1) !important;
}

.text-secondary{
    color: var(--color2) !important;
}

.text-pink{
    color: var(--pink);
}

.fa-primary{
    color: var(--color1);
}

.text-head{
    font-size: 50px;
    font-weight: 800;
    background: var(--headColor);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: head 4s ease-in-out infinite;
}

/* Extra Large Screens (Desktops 1400px+) */
@media (min-width: 1400px) {
    .text-head {
        font-size: 60px;
    }
}

/* Large Screens (Desktops 1200px - 1399px) */
@media (max-width: 1399px) {
    .text-head {
        font-size: 50px;
    }
}

/* Medium Screens (Tablets 992px - 1199px) */
@media (max-width: 1199px) {
    .text-head {
        font-size: 42px;
    }
}

/* Small Screens (Landscape phones 768px - 991px) */
@media (max-width: 991px) {
    .text-head {
        font-size: 36px;
    }
}

/* Extra Small Screens (Mobile phones 576px - 767px) */
@media (max-width: 767px) {
    .text-head {
        font-size: 30px;
    }
}

/* Very Small Screens (Small phones < 575px) */
@media (max-width: 575px) {
    .text-head {
        font-size: 26px;
    }
}
  
@keyframes head {
    0% {
      background-position: 0% center;
    }
    50% {
      background-position: 90% center;
    }
    100% {
      background-position: 0% center;
    }
}

.sub-head{
    text-transform: capitalize;
    font-size: large;
}

.head-sm{
    font-size: 40px !important;
    text-align: left !important;
}

.sub-head-sm{
    text-align: justify !important;
}

.section-bootom{
    background: linear-gradient(120deg,rgba(255, 255, 255, 1) 90%, rgba(255, 131, 199, 1) 95%, rgba(235, 30, 121, 1) 100%);
}


.section-top{
    background: linear-gradient(310deg,rgba(255, 255, 255, 1) 90%, rgba(255, 131, 199, 1) 95%, rgba(235, 30, 121, 1) 100%);
}

.border-black{
    border: 2px solid black;
}

.border-primary{
    border:2px solid var(--color1) !important;
}


.btn-primary{
    background: var(--color2);
    color: var(--color-white);
}

.btn-primary:hover{
    background: var(--color1);
}

.btn-outline-primary{
    color: var(--color1);
    border: 1px solid var(--color1);
    transition: all 0.8s ease-in-out;
}

.btn-outline-primary:hover{
    color: var(--color-white);
    background: var(--color1);
    border: none !important;
    border-radius: 50px;
    transition: all 0.8s ease-in-out;
}

.btn-outline-secondary{
    color: var(--color2);
    border: 1px solid var(--color2);
    transition: all .8s ease-in-out;
}

.btn-outline-secondary:hover{
    background: var(--color2);
    color: var(--color-white);
    transition: all .8s ease-in-out;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    border-radius: 50%;
    background: var(--mainColor);
    z-index: 99;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--color2) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 32, 144, 0.25) !important;
  outline: none;
}

/*** Button ***/
.btn-light:hover{
    background: var(--color1);
    color: var(--color-white);
}

.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.fa-white{
    color: var(--color-white);
}

.mega-menu0{
    width: 650%;
    left: -120%;
}

.mega-menu1{
    width: 500%;
    left: -170%;
}

.mega-menu2{
    width: 600%;
    left: -325%;
}

.header-logo{
    height: 100px;
    width: auto;
}

.footer-logo{
    height: 150px;
    width: auto;
}


.navbar-nav{
    background: var(--color3);
    padding: 10px;
    border-radius: 25px;
}

.navbar {
    padding: 15px 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    box-shadow: none !important;
}

.navbar .navbar-nav .nav-link {
    margin-left: 30px;
    padding: 0;
    outline: none;
    color: var(--color-white);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--color2)
}



.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item.active {
    color: var(--bs-white);
    background: var(--color2);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
    .mega-menu0, .mega-menu1, .mega-menu2{
        width: 100%;
        left: -60%;
    }

}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
    .hero-header {
        margin-top: -100px;
        padding-top: 220px;
        text-align: center;
        padding: 100px, 20px;
        color: var(--color-white);
        background: var(--dark) !important;
        /* background: url(../img/hero-banner.png) top center no-repeat; */
        background-position: center;
        background-size: cover;
    }

    .hero-title {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.2;
    }

    .wave-text {
      display: inline-block;
      background: var(--mainColor);
      background-size: 200% auto;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: wave 4s ease-in-out infinite;
    }

    @keyframes wave {
      0% {
        background-position: 0% center;
      }
      50% {
        background-position: 100% center;
      }
      100% {
        background-position: 0% center;
      }
    }

    .hero-subtitle {
      font-size: 1.3rem;
      color: var(--color-white);
      margin-top: 20px;
    }

    .hero-buttons {
      margin-top: 40px;
    }

    .btn-contact {
      font-weight: 600;
      padding: 15px 45px;
      border-radius: 50px;
      margin: 0 10px;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      color: var(--color-white);
      border: 2px solid var(--color-white);
    }

    .btn-contact:hover {
      background-color: var(--color-white);
      color: black;
    }

    @media (max-width: 992px) {
        .hero-header {
            padding: 50, 5;
        }

        .hero-title {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    /*** Counter Start ***/
    .counter {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background: var(--grediant);
        
    }

    .counter .counter-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .counter .counter-item .counter-item-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--color2);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    /*** Counter End ***/


/*** what we do Start ***/
    .we-do-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: var(--color-white);
        border-radius: 20px;
        transition: 0.5s;
    }

    .we-do-item:hover {
        box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    }

    .we-do-icon{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color1);
    }

  
    .we-do-icon i {
        transition: 0.5s;
    }

    .we-do-item:hover .we-do-icon i {
        transform: rotate(360deg);
    }

    .we-do-title{
        font-size: 20px;
        font-weight: 600;
    }

/*** what we do End ***/


/** choosen By **/

    .owl-carousel .item {
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .owl-carousel .item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

/* choosen By End **/

/* why click kart */

    .why-icon-box{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--color1);
        border-radius: 50%;
        color: var(--color1);
        overflow: hidden;
    }

    .why-icon{
        transition: 0.8s ease-in-out;
    }

    .why-icon-box:hover .why-icon{
        transform: scale(1.5, 1.5);
        transition: 0.8s ease-in-out;
    }

   

/* why click kart end*/

/* elevate brand */
.brand-elevate{
    display: flex;
    
}

.brand-elevate-icon{
    background: var(--color1);
    color: var(--color-white);
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 1s ease-in-out;
}

.brand-elevate-icon:hover{
    transform: scale(1.2,1.2);
    transition: 1s ease-in-out;
}

/* elevate brand end*/

/* testemonial*/
.swiper {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 450px;
      height: 300px;
      overflow: hidden;
      position: relative;
      border-radius: 20px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .swiper-card{
        position: absolute;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        z-index: 999;
        color: black;
    }


    .avtar-box{
        height: 80px;
        width: 80px;
        border: 2px solid var(--color2);
        margin: 15px;
        border-radius: 50%;
        overflow: hidden;
    }

    .avtar{
        height: 100%;
        width: 100%;
    }

/*testomonial*/

/*get in touch */
 .call-link{
    color: black;
    font-weight: 700;
    transition: all .5s ease-in-out;
 }

 .call-link:hover{
    color: var(--color2);
    transition: all .5s ease-in-out;
 }

 .form-check-input:checked{
    color: var(--color-white);
    background: var(--color2) !important;

}

/*** Footer ***/
.footer{
    /* background: url(../img/hero-banner.png); */
    background: var(--dark) !important;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--color-white);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: var(--color2);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--color1);
}

.footer .copyright a:hover {
    color: var(--pink);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.btn-link{
    font-size: 14px;
}

.btn-link:hover{
    background: transparent;
}



/* ============social media=============== */

.social-hero {
    margin-top: -100px;
    padding-top: 220px;
    padding: 100px, 20px;
    background: var(--dark);
    color: var(--color-white);
}

.social-hero-title {
    font-size: 6rem;
    font-weight: 900;
    padding: 5px;
    
}

 @media (max-width: 992px) {

        .social-hero-title {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }

/*=============== technologies =================*/


.accordion-button {
    color: #fff;
    font-weight: 600;
    background: var(--color1);
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background: var(--color1);
}
.accordion-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

/* Accordion Body */
.accordion-body {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: 500;
}

/* Icon float animation */
.accordion-body img {
    animation: floatIcon 3s infinite ease-in-out;
}
@keyframes floatIcon {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}